body {
    background-color:var( --background-base, #121212 );
    margin: 0px;
}

.box1 {
    margin-top: 0px;
    width: 100%;
    
    height: 100px;


}

.boxinside {
    padding: 32px 0px 32px 51px;

}

.logo {
    background-image: url(/images.png);
    background-size: cover;
    background-position: center;
    height: 43px;
    width: 140px;
}
.boxmiddle {
    
    
    
    width: 1170px;
    height: 700px;
    margin-left: 170px;
    margin-right: 170px;
}
.boxfinal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstline {
    margin-bottom: 15px;
}
.firstline p{
    font-size: 48px ;
    color: white;
    font-weight: 800;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
.secondline {
    width: 450px;
    text-align: center;
    height: 70px;
}
.secondline p{
    font-size: 1rem;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: #8d8d8d;
    margin: 0px;
    text-align: center;
}
.labelform{

}